* {                        
	text-decoration: none;
}

body {   
 background-image: url(adult_adventure_asphalt_biker_cyclist_daylight_freedom_headlight-1562603.jpg);      
 background-position: center center;      
 background-repeat: no-repeat;      background-attachment: fixed;      
 background-size: cover;      
 background-color: #464646; }

		
 
   .letter {
    color: red;
    font-size: 200%; 
   } 
   p {
    color: orange; 
   }	
   a {
   	color: #B5BF5E;
   }
   z {
   	color: #B5BF5E;
   }	


